<div class="container">
	<div class="card-panel login-card">
		<h5 class="indigo-text">Login</h5>
		<div class="col s12">
			<div class="input-field">
				<label for="email">Email</label>
				<input id="email" type="email" class="validate" ng-model="email">
			</div>		
		</div>
		<div class="col s12" ng-show="create">
			<div class="input-field">
				<label for="name">Name</label>
				<input id="name" type="text" class="validate" ng-model="name">
			</div>		
		</div>

		<div class="col s12" ng-show="create">
			<div class="input-field">
				<label for="user">User name</label>
				<input id="user" type="text" class="validate" ng-model="user">
			</div>		
		</div>		
		<div class="col s12">
			<div class="input-field">
				<label for="password">Password</label>
				<input id="password" type="password" class="validate" ng-model="password">
			</div>
		</div>
		<div class="col s12">
			<a id="login" href="#" class="btn indigo waves-effect waves-light" ng-click="submit();">Submit</a>
		</div>
		<br>
		<div class="col s12">
			<a id="signup" href="#" class="btn btn-flat indigo-text grey lighten-3 waves-effect" ng-click="create = !create" ng-bind="(!create)?'Create account':'Login'"></a>
		</div>				
	</div>
</div>