<nav class="nav-extended indigo lighten-1">
	<div class="nav-wrapper header-container">
		<a href="https://github.com/alejandrogar" class="brand-logo">
		<svg width="30" height="30" class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" fill="#fff" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
		Alejandrogar</a>
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="#">Lorem</a></li>
			<li><a href="#">Ipsum</a></li>
			<li class="active"><a href="#">Blog</a></li>
			<li><a href="/login">Login</a></li>
			<li>
				<a class="dropdown-button" href="#" data-activates="feature-dropdown" data-beloworigin="true" data-constrainwidth="false">Sit
					<i class="material-icons right">arrow_drop_down</i>
				</a>
				<ul id="feature-dropdown" class="dropdown-content">
					<li><a href="/pages/full-header">Amet</a></li>
					<li><a href="/pages/horizontal">Consectetur</a></li>
					<li><a href="/pages/no-image">Adipsicing</a></li>
				</ul>
			</li>
		</ul>
		<!-- Dropdown Structure -->
		<div class="nav-header center">
			<h2>Node Blog</h2>
			<div class="subtitle-header">Simple MEAN blog</div>
		</div>
	</div>

	<!-- Fixed Masonry Filters -->
	<div class="categories-wrapper indigo">
		<div class="categories-container pin-top" style="top: 0px;">
         <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active" href="#">Todo</a></li>
            <li ng-repeat="category in categories" class="tab">
            	<a href="#">{{category.name}}</a>
            </li>
         </ul>
		</div>
	</div>
</nav>

<script type="text/javascript">
<!--
   // Setup jquert elements
   $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
    });
-->

</script>