/*
	Node Blog custom styles
*/
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono';
#navigation:not(.material-icons), #navigation-admin:not(.material-icons), blockquote{
    font-family: 'Roboto Mono', monospace !important;
}
.block-container{margin-top: 120px;}

.cke_reset_all, .cke_reset_all *, .cke_reset_all a, .cke_reset_all textarea{
	font-family: "Roboto", sans-serif !important;
}
#editor{
	font-family: "Roboto", sans-serif !important;
}
nav .nav-header{
    clear: both;
    padding: 40px 0;
}
nav.detail .nav-header{
    clear: both;
    padding: 121px 0;
}
nav.detail{
    background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
}
.subtitle-header{
	display: block;
    margin: -40px 0 40px 0;
    color: rgba(255,255,255,0.8);
}
.categories-wrapper{
}
.header-container, .categories-container {
	width: 70%;
	margin: 0 auto;
	max-width: none;
	width: 90%;
}
nav ul:not(.indicators) li.active::before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	background-color: #fff;
}

nav ul:not(.indicators) li.active {
    position: relative;
    background-color: transparent;
}
.font-300 {
    font-weight: 300 !important;
}
.font-medium {
    font-size: 25px !important;
}
.font-large {
    font-size: 35px !important;
}
p.title {
    font-size: 33px;
}
p.title, p.subtitle {
    font-family: "Roboto Mono","noto sans",arial,sans-serif;
}
.title, .subtitle {
    margin-bottom: 40px;
}
.article-text {
    line-height: 1.8;
    font-size: 17px;
}
#editor {
  background: #FFF;
  padding: 2% 4%;
  border: dashed 5px #27C0D8;
}
input.mce-textbox, input.mce-textbox:hover{
	background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #9e9e9e !important;
    border-radius: 0 !important;
    outline: none !important;
    height: 3rem !important;
    width: 100% !important;
    font-size: 1rem !important;
    margin: 0 0 20px 0 !important;
    padding: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
    -webkit-transition: all 0.3s !important;
    transition: all 0.3s !important;
}
input.mce-textbox:focus{
	border:none !important;
	border-bottom: 1px solid #26a69a !important;
	-webkit-box-shadow: 0 1px 0 0 #26a69a !important;
	box-shadow: 0 1px 0 0 #26a69a !important;
}
.article.ng-hide{
    transform: scale(0);
}
.article{
    height: 500px;
    transform: scale(1);
    transition: all ease-in-out 0.2s;
}
.login-card{
    width:  350px;
    margin: 0 auto;
    margin-top: 100px;
}
.signup-card{
    width:  350px;
    margin: 0 auto;
    margin-top: 100px;  
}
.login-card .btn , .signup-card .btn{
    width: 100%;
}

.header-large{
    height: 120px;
}
.container-editor{
    margin: 0 auto;
    margin-top: -50px;
}
.btn-share-article{
    position: absolute;
    right: 0px;
    margin-right: 100px;
    margin-top: -32px;    
}


@media only screen and (min-width: 993px){
	.header-container, .categories-container {
	    width: 70%;
	}
}